{% extends "dashboard/base.html" %}
{% block content %}
{% load static %}
<div class="page_body">
{% include '../general/header.html' %}

<div class="card-group">
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0 bg-white">
          <li class="breadcrumb-item">
            <a>Contact Us</a>
          </li>
          <li class="breadcrumb-item">
            <a>
              <b>Contact Us</b>
            </a>
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card rounded-t-s table_tr_listing">
        <div class="card-header bg-transparent pt-0">
          <div class="row align-items-center">
            <div class="col-md-4">
              <h5 class="card-title font-bold">Contact Us</h5>
            </div>
            <div class="col-md-8 text-md-end">
              <button class="btn me-15 btn-list btn_tr_listing" type="button">
                <i class="fa fa-list" aria-hidden="true"></i>
              </button>
        
              <form id="FORMSUB" class="d-initial" method="get">
                <input type="hidden" name="from_date" id="STARTDATE" value="">
                <input type="hidden" name="to_date" id="ENDDATE" value=""> 
                  <div class="range_datepicker range-datepicker mt-10">
                    <i class="fa fa-calendar"></i>
                    <span></span>   
                    <i class="fa fa-caret-down"></i>
                  </div> 
              </form>
            </div>
          </div> 
        </div>
        <div class="card-sub-header mt-15">
          <div class="row">
            <div class="col-md-8">
              <div class="search-form d-inline-block me-15">
                <form>
                    {% for key,value in request.GET.items %}
                        {% if key != 'search' %}
                        <input hidden name="{{key}}" value="{{value}}">
                        {%endif%}
                    {%endfor%}
                    <input class="form-control" type="search" name="search" value="{{search|default_if_none:""}}" placeholder="Search">
                    <button class="btn" type="submit">
                        <img src="{% static 'general/images/icons/light-grey-search.png' %}">
                    </button>
                </form>
              </div>
            </div>
            <div class="col-md-4 text-md-end">
              <div class="btn-group btn-group-export">
                <button class="btn" type="button" onclick="printThis('.print_data')">Print</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-default bg-tr-even">
            <div class="table-responsive print_data">
              <table class="table text-center">
                <thead>
                  <tr>
                    <th class="xs-tcol">#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Message</th>
                  </tr>
                </thead>
                <tbody>    
                    {%for i in page%} 
                    <tr>
                        <td data-label="#">{{forloop.counter}}</td>
                        <td data-label="Name">{{i.name|default_if_none:""}}</td>
                        <td data-label="Email">{{i.email|default_if_none:""}}</td>
                        <td data-label="Message">{{i.message|default_if_none:""}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
              </table>
            </div>
            <div class="row align-items-center">
              <div class="col-md-4 col-8">
                {% include 'dashboard/table-info.html' %}
              </div>
              <div class="col-md-4 col-12 order-3-zero-sm">
                {% include 'dashboard/pagination-buttons.html' %}
              </div>
              <div class="col-md-4 col-4 text-end order-2-zero-sm">
                {% include 'dashboard/table-length.html' %}
              </div>
            </div>     
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</div><!-- page_body -->
{% endblock %}
{%block javascript%}

<script>
  window.from_date = "{{from_date}}"
  window.to_date = "{{to_date}}"
  
  $(document).ready(function(){
    var start = "{{from_date}}"
      var end = "{{to_date}}"
      $('.range_datepicker span').html(moment(start).format('DD/MM/YYYY') + ' - ' + moment(end).format('DD/MM/YYYY'));
      $('#STARTDATE').val(start);
      $('#ENDDATE').val(end);
      $('.FROM').val(moment(start).format('YYYY-MM-DD'));
      $('.TO').val(moment(end).format('YYYY-MM-DD'));

     
  })
  
  $('.range_datepicker').on('apply.daterangepicker', function (ev, picker) {
   $('#FORMSUB').submit()
  })

</script>
{% endblock%}