{% load static %}
<div class="footer-div">
  <footer id="footer" class="footer">
    <div class="footer-content">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4 col-md-6">
            <div class="footer-about">
              <a href="{%url 'common:home'%}" class="logo mb-3">
                <img src="{% static 'public/images/logo.png' %}?v=25-11-2018" class="h-60-px mb-3">
              </a>
              <p class="fs-12 text-justify">
                Spokes Energy continuously strive to satisfy the customers with outstanding Quality of our
                products and services. In our endeavor to achieve this objective, we will Create and nurture people of quality by continuous education and training. Maintain & improve standards of manufacturing.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 footer-links offset-lg-1">
            <h4>Sitemap</h4>
            <div class="row">
              <div class="col-6">
                <ul>
                  <li><a href="{%url 'common:home'%}">Home</a></li>
                  <li><a href="{%url 'common:about'%}">About</a></li>
                  <li><a href="{%url 'common:services'%}">Services</a></li>
                  <li><a href="{%url 'common:contact'%}">Contact</a></li>
                </ul>
              </div>
              <div class="col-6">
                <ul>
                  <li><a href="{%url 'common:gallery'%}">Gallery</a></li>
                  <li><a href="{%url 'common:blog'%}">Blog</a></li>
                  <li><a href="{%url 'common:terms-conditions'%}">Terms</a></li>
                </ul>
              </div>
            </div>
           
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Address</h3>
              <p>
                Al Sajaa Industrial area, Sharjah</p>
              <p>+971 50 534 2836, +971 50 534 2457</p>
              <p>Info@spokesenergy.com</p> 
              <div class="social-links mb-3 mb-lg-0">
                <a href="https://www.facebook.com/profile.php?id=100085327793096&mibextid=ZbWKwL" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
                <a href="https://instagram.com/spokesenergy?igshid=YmMyMTA2M2Y=" class="instagram" target="_blank"><i class="bi bi-instagram"></i></a>
                <a href="https://www.linkedin.com/in/spokes-energy-steelfabcoating" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </footer> 
</div>