{% extends "./base.html" %}
{% block content %}
{% load static %}
<div class="gallery-main-div">
    {% include './header.html' %}
    <section class="inner-hero align-items-center">
        <div class="container position-relative h-100" data-aos="zoom-out">
            <div class="row h-100">
                <div class="col-lg-6 col-md-7 text-white position-relative">
                    <div class="banner-title">
                        <h6 class="fw-bold">Gallery</h6>
                        <h2> A View to our path and the vision. </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="gallery-content">
        <div class="container" data-aos="zoom-out">
          <div class="row">
            {%for i in page%}
            <div class="col-lg-4 col-md-6">
               <div class="gallery-card p-3 mb-3">
                  <div class="gallery-img mb-3">
                      <a href="{%if i.main_image%}{{i.main_image.url}}{%endif%}" title="{{i.title}}" data-gallery="portfolio-gallery" class="glightbox">
                          <img src="{%if i.main_image%}{{i.main_image.url}}{%endif%}" class="img-fluid br-20">
                      </a>
                  </div>
                 <div class="gallery-data">
                     <h6 class="fw-bold">{{i.title}}</h6>
                     <p class="fs-12 truncate_120 text-justify">
                      {{i.description|default_if_none:""}}</p>
                 </div>
               </div>
            </div>  
          {%endfor%}
           
          </div>
          <div class="row mt-25">
            <div class="col-12">
            {% include 'dashboard/pagination-buttons.html' %}  
            </div>
        </div>
        </div>
    </section>
    <!-- ======= Footer ======= -->
    {% include './footer.html' %} 
    <!-- End Footer -->
</div><!-- gallery-main-div-->
{% endblock %}