{% load static %}
<!-- ======= Header ======= -->
 <header id="header" class="header" data-scrollto-offset="0">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="{%url 'common:home'%}" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="{% static 'public/images/logo.png' %}?v=25-11-2018">
      </a>

      <nav id="navbar" class="navbar ms-auto">
        <ul>
          <li><a class="nav-link scrollto " href="{%url 'common:home'%}">Home</a></li>
          <li><a class="nav-link scrollto" href="{%url 'common:about'%}">About</a></li>
          <li><a class="nav-link scrollto" href="{%url 'common:qualification'%}">Qualification</a></li>
          <li><a class="nav-link scrollto" href="{%url 'common:services'%}">Services</a></li>
          <li><a class="nav-link scrollto" href="{%url 'common:gallery'%}">Gallery</a></li>
          <li><a class="nav-link scrollto" href="{%url 'common:blog'%}">Blog</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle d-none"></i>
      </nav><!-- .navbar -->

      <a class="btn-getstarted scrollto" href="{%url 'common:contact'%}">GET IN TOUCH</a>

    </div>
  </header><!-- End Header -->