{% extends "./base.html" %}
{% block content %}
{% load static %}

 <div class="login_page">
  <div class="container h-100-vh">
    <div class="row justify-content-center align-items-center h-100-vh">
      <div class="col-md-4">
        <div class="page-content"> 
          <form  method="POST" action="{% url 'user:login' %}?from={{request.get_full_path|urlencode}}">{% csrf_token %}
            <div class="form-head">
             <h3>Login</h3>
            </div>
            <div class="form-body">
              <div class="field-col">
               <label class="form-label">Username</label>
               <input type="text" class="form-control" name="username" required>
              </div>
              <div class="field-col">
               <label class="form-label">Password</label>
               <input type="password" class="form-control" name="password" required>
              </div>
            </div>
            <div class="form-foot">
             <button class="btn btn-primary">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
 </div>

{% endblock %}