/* screen, print  */
@media screen, print {}

/* screen */
@media screen {}

/* print */
@media print {
body {
    background: #fff !important;}
@page {
    size: auto !important;}

/* dataTables */
.dataTables_info,
.dataTables_paginate,
.dataTables_length,
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, 
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before {
    display: none !important;}

/* table-default */
.table-responsive .table {
   color: #000;
   font-size: 8px;}
.table-responsive .table th,
.table-responsive .table td {
   padding: 5px 3px;
   border: 1px solid #383838;}
/* img */
.table-responsive .table tbody tr td .img-default,
.table-responsive .table tbody tr td .rounded-img {
    height: 25px !important;
    width: auto;}
/* tcol */
.table-responsive .table .btn-tcol {
    display: none;}
}