.dt-buttons-full .dt-buttons{
  float:none;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-pack:center;
  justify-content:center;
  margin:0;
  border-bottom:1px solid #ddd;
  padding-top:1.25rem;
  padding-bottom:.625rem;
  background-color:rgba(0,0,0,.02)
}
.dt-buttons-full .dt-buttons>.btn{
  margin-bottom:.625rem;
  float:none;
}
.dt-buttons{
  position:relative;
  float:right;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  margin:0 0 1.25rem 1.25rem;
}
.dt-buttons-left .dt-buttons{
  float:left;
}
.dt-buttons>.btn{
  border-radius:0;
}
.dt-buttons>.btn:first-child{
  border-top-left-radius:.25rem;
  border-bottom-left-radius:.25rem;
}
.dt-buttons>.btn:last-of-type{
  border-top-right-radius:.25rem;
  border-bottom-right-radius:.25rem;
}
.dt-buttons>.btn+.btn{
  margin-left:-1px
}
@media (max-width:768.98px){
 .dt-buttons{
   float:none;
   text-align:center;
   display:block;
 }
 .dt-buttons .btn{
   float:none;
 }
}
.dt-button-background{
  position:fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background-color:#000;
  z-index:1040;
  opacity:.35;
}
.dt-button-collection{
  position:absolute;
  background-color:#fff;
  display:block;
  z-index:1050;
  padding:.5rem 0;
  overflow:hidden;
  min-width:12.5rem;
  -webkit-column-gap:.125rem;
  -moz-column-gap:.125rem;
  column-gap:.125rem;
  border-radius:.25rem;
  box-shadow:0 .25rem .5rem rgba(0,0,0,.1);
}
.dt-button-collection:not(.fixed){
  top:100%!important;
  left:auto!important;
  right:0!important;
}
.dt-button-collection .dt-button{
  padding:.5rem 1rem;
  color:#333;
  background-color:transparent;
  border:0;
  display:block;
  outline:0;
  width:100%;
  text-align:left;
  cursor:pointer;
  transition:all ease-in-out .15s;
}
@media (prefers-reduced-motion:reduce){
  .dt-button-collection .dt-button{
    transition:none;
  }
}
.dt-button-collection .dt-button+.dt-button{
  margin-top:1px;
}
.dt-button-collection .dt-button:focus,.dt-button-collection .dt-button:hover{
  color:#333;
  background-color:#eee;
}
.dt-button-collection .dt-button.active{
  color:#fff;
  background-color:#2196f3
}
.dt-button-collection.fixed{
  position:fixed;
  top:50%;
  left:50%;
  margin-left:-4.6875rem;
  padding-left:.5rem;
  padding-right:.5rem;
}
.dt-button-collection.fixed.two-column{
  margin-left:-9.375rem;
}
.dt-button-collection.fixed.three-column{
  margin-left:-14.065rem;
}
.dt-button-collection.fixed.four-column{
  margin-left:-18.75rem;
}
.dt-button-collection>*{
  -webkit-column-break-inside:avoid;
  -moz-column-break-inside:avoid;
   break-inside:avoid
}
.dt-button-collection.two-column{
  width:18.75rem;
  -webkit-column-count:2;
  -moz-column-count:2;
  column-count:2
}
.dt-button-collection.three-column{
  width:28.13rem;
  -webkit-column-count:3;
  -moz-column-count:3;
  column-count:3
}
.dt-button-collection.four-column{
  width:37.5rem;
  -webkit-column-count:4;
  -moz-column-count:4;
  column-count:4
}
.dt-button-info{
  position:fixed;
  top:1.25rem;
  right:1.25rem;
  width:20rem;
  background-color:#2196f3;
  color:#fff;
  border:1px solid #2196f3;
  padding:1rem 1.25rem;
  z-index:1070;
  border-radius:.25rem;
  box-shadow:0 .25rem .5rem rgba(0,0,0,.1);
}
.dt-button-info h2{
  font-size:1rem;
  margin-bottom:.3125rem;
  line-height:1.5715;
  letter-spacing:-.015em;
}