/* message-wrapper */
.message-wrapper {
    background-color: #00000052;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;}
/* message-inner */
.message-wrapper .message-inner {
    position: absolute;
    right: 50%;
    bottom: 50%;
    -webkit-transform: translate(50%,50%);
    -ms-transform: translate(50%,50%);
    transform: translate(50%,50%);
    width: 400px;
    background-color: #fff;
    padding: 35px 30px;
    border-radius: 20px;
    text-align: center;}
/* message-body */
.message-wrapper .message-body h3 {
    color: #343232;
    font-size: 20px;
    font-family: airbnb_cereal_appbold;}
.message-wrapper .message-body h5 {
    color: #80888d;
    margin-top: 20px;
    font-size: 13px;}
/* message-foot */
.message-wrapper .message-foot {
    margin-top: 45px;}
.message-wrapper .message-foot button {
    border: none;
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px 30px;}
.message-wrapper .message-foot .btn-cancel {
    background-color: #E8E8E8;
    color: #6E757C;}
.message-wrapper .message-foot .btn-confirm {
    min-width: 130px;}


/* error */
.message-wrapper:not(.error) .warning {
    display: none;}
/* animate */
.message-wrapper .pulseWarning {
    -webkit-animation: pulseWarning 0.75s infinite alternate;
    -moz-animation: pulseWarning 0.75s infinite alternate;
    animation: pulseWarning 0.75s infinite alternate;}
.message-wrapper .pulseWarningIns {
    -webkit-animation: pulseWarningIns 0.75s infinite alternate;
    -moz-animation: pulseWarningIns 0.75s infinite alternate;
    animation: pulseWarningIns 0.75s infinite alternate;}
/* icon */
.message-wrapper .icon-wrapper .icon {
    width: 80px;
    height: 80px;
    border: 4px solid gray;
    border-radius: 50%;
    margin: 20px auto;
    position: relative;
    box-sizing: content-box;}
.message-wrapper .icon-wrapper .icon {
    border-color: #fca83e;}
.message-wrapper .icon-wrapper .icon .icon-body {
    position: absolute;
    width: 5px;
    height: 47px;
    left: 50%;
    top: 10px;
    border-radius: 2px;
    margin-left: -2px;
    background-color: #fca83e;}
.message-wrapper .icon-wrapper .icon .dot {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-left: -3px;
    left: 50%;
    bottom: 10px;
    background-color: #fca83e;}
/* message-foot */
.message-wrapper.error .message-foot .btn-confirm {
    background-color: #f56c3e;
    color: #fff;}


/* success */
.message-wrapper:not(.success) .success {
    display: none;}
/* sa-wrapper */
.message-wrapper .sa-wrapper {
  width: 140px;
  height: 140px;
  padding: 26px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;}
.message-wrapper .sa-wrapper .sa-success {
  border-radius: 50%;
  border: 4px solid #A5DC86;
  box-sizing: content-box;
  height: 80px;
  padding: 0;
  position: relative;
  background-color: #fff;
  width: 80px;}
.message-wrapper .sa-wrapper .sa-success:after,
.message-wrapper .sa-wrapper .sa-success:before {
  background: #fff;
  content: "";
  height: 120px;
  position: absolute;
  transform: rotate(45deg);
  width: 60px;}
.message-wrapper .sa-wrapper .sa-success:before {
  border-radius: 40px 0 0 40px;
  width: 26px;
  height: 80px;
  top: -17px;
  left: 5px;
  transform-origin: 60px 60px;
  transform: rotate(-45deg);}
.message-wrapper .sa-wrapper .sa-success:after {
  border-radius: 0 120px 120px 0;
  left: 30px;
  top: -11px;
  transform-origin: 0 60px;
  transform: rotate(-45deg);
  animation: rotatePlaceholder 4.25s ease-in;}
.message-wrapper .sa-wrapper .sa-success-placeholder {
  border-radius: 50%;
  border: 4px solid rgba(165, 220, 134, 0.25);
  box-sizing: content-box;
  height: 80px;
  left: -4px;
  position: absolute;
  top: -4px;
  width: 80px;
  z-index: 2;}
.message-wrapper .sa-wrapper .sa-success-fix {
  background-color: #fff;
  height: 90px;
  left: 28px;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 5px;
  z-index: 1;}
.message-wrapper .sa-wrapper .sa-success-tip, 
.message-wrapper .sa-wrapper .sa-success-long {
  background-color: #A5DC86;
  border-radius: 2px;
  height: 5px;
  position: absolute;
  z-index: 2;}
.message-wrapper .sa-wrapper .sa-success-tip {
  left: 14px;
  top: 46px;
  transform: rotate(45deg);
  width: 25px;
  animation: animateSuccessTip 0.75s;}
.message-wrapper .sa-wrapper .sa-success-long {
  right: 8px;
  top: 38px;
  transform: rotate(-45deg);
  width: 47px;
  animation: animateSuccessLong 0.75s;}

@keyframes animateSuccessTip {
  0%, 54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}
@keyframes animateSuccessLong {
  0%, 65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
@keyframes rotatePlaceholder {
  0%, 5% {
    transform: rotate(-45deg);
  }
  100%, 12% {
    transform: rotate(-405deg);
  }
}
/* message-foot */
.message-wrapper.success .message-foot .btn-confirm {
    background-color: #449d44;
    color: #fff;}