
/* pre-loader */ 
.pre-loader:after {
  content: '';
  display: block;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 50%;
  height: 5px;
  background-color: #097eba;
  animation: cardLoader 1s ease-in-out alternate infinite;}
@keyframes cardLoader {
  0% {
    left: 0;
    width: 1%;
    background-color: #3db381;
  }
  50% {
    width: 30%;
  }
  100% {
    left: 100%;
    transform: translateX(-100%);
    width: 1%;
    background-color: #097eba;
  }
}	



/* loading */
.loading {
   position: fixed;
   z-index: 1000;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   text-align: center;
   white-space: nowrap;
   color: #101010;
   font-size: 20px;
   letter-spacing: 5px;
   background: #00000085;}
 .loading span {
   position: absolute;
   right: 50%;
   bottom: 50%;
   -webkit-transform: translate(50%,50%);
   -ms-transform: translate(50%,50%);
   transform: translate(50%,50%);}
 .loading span::before {
   content: '';
   border: 2px solid #dbf2ff; 
   width: 32px;
   height: 32px;
   position: absolute;
   left: 35px;
   bottom: 35px;
   border-radius: 50%;
   border-right: 2px solid #018df7;
   animation-name: spin;
   animation-duration: 900ms;
   animation-iteration-count: infinite;
   /*animation-timing-function: linear; /*linear spin */
   animation-timing-function: cubic-bezier(0.53, 0.21, 0.29, 0.67);}
 @-webkit-keyframes spin {
   0% { -webkit-transform: rotate(0deg); }
   /*50% {width:24px;height:24px} /*shrinking effect*/
   100% { -webkit-transform: rotate(360deg); }
 }
 @keyframes spin {
   0% { -webkit-transform: rotate(0deg);}
  /*50% {width:24px;height:24px} /*shrinking effect*/
   100% { -webkit-transform: rotate(360deg); }
 }




/* font */
body {
   font-family: airbnb_cereal_appbook;}
.font-light {
   font-family: airbnb_cereal_applight;}
.font-book {
   font-family: airbnb_cereal_appbook;}
.font-medium {
   font-family: airbnb_cereal_appmedium;}
.font-bold {
   font-family: airbnb_cereal_appbold;}
.font-extra-bold {
   font-family: airbnb_cereal_appextra_bold;}
.font-black {
   font-family: airbnb_cereal_appblack;}




/* custom */
/* margin */

/**/
.mt-0 {
   margin-top: 0 !important;}
.mt-10 {
   margin-top: 10px !important;}
.mt-15 {
   margin-top: 15px !important;}
.mt-20 {
   margin-top: 20px !important;}
.mt-25 {
   margin-top: 25px !important;}
.mt-30 {
   margin-top: 30px !important;}
.mt-40 {
   margin-top: 40px !important;}
/**/
.mt--2 {
   margin-top: -2px !important;}
/**/
.me-10 {
   margin-right: 10px !important;}
.me-15 {
   margin-right: 15px !important;}
/**/
.mb-0 {
   margin-bottom: 0 !important;}
.mb-5 {
   margin-bottom: 5px !important;}
.mb-10 {
   margin-bottom: 10px !important;}
.mb-15 {
   margin-bottom: 15px !important;}
.mb-25 {
   margin-bottom: 25px !important;}
/**/
.ms-0 {
   margin-left: 0 !important;}
.ms-10 {
   margin-left: 10px !important;}
.ms-15 {
   margin-left: 15px !important;}




/* padding */
/**/
.p-20 {
   padding: 20px !important;}
.p-30 {
   padding: 30px !important;}
.p-10 {
   padding: 10px !important;}
.p-40 {
   padding: 40px !important;}

/**/
.pt-0 {
   padding-top: 0 !important;}
.pt-15 {
   padding-top: 15px !important;}
.pt-20 {
   padding-top: 20px !important;}
.pt-40 {
   padding-top: 40px !important;}

/**/
.pe-0 {
   padding-right: 0 !important;}
.pe-20 {
   padding-right: 20px !important;}

/**/
.pb-0 {
   padding-bottom: 0 !important;}
.pb-5 {
   padding-bottom: 5px !important;}
.pb-10 {
   padding-bottom: 10px !important;}
.pb-15 {
   padding-bottom: 15px !important;}
.pb-30 {
   padding-bottom: 30px !important;}
.pb-50 {
   padding-bottom: 50px !important;}

/**/
.ps-0 {
   padding-left: 0 !important;}
.ps-15 {
   padding-left: 15px !important;}
.ps-20 {
   padding-left: 20px !important;}
.ps-30 {
   padding-left: 30px !important;}








/* xs <575 */
@media (max-width: 575px) {
}
/* sm 576 to 767 */
@media (min-width: 576px) and (max-width: 767px) {

}
/* md 768 to 991 */
@media (min-width: 768px) and (max-width: 991px) {

}
/* lg 992 to 1199 */
@media (min-width: 992px) and (max-width: 1199px) {

}
/* xl 1200 to 1399 */
@media (min-width: 1200px) and (max-width: 1399px) {

}
/* xxl >1400 */
@media (min-width: 1400px) {

}
/* ----- */
/* zero-sm */
@media (max-width: 767px) {
.mt-10-zero-sm {
   margin-top: 10px !important;}
.mt-15-zero-sm {
   margin-top: 15px !important;}
.order-1-zero-sm {
   order: 1 !important;}
.order-2-zero-sm {
   order: 2 !important;}
.order-3-zero-sm {
   order: 3 !important;}
}
/* zero-md */
@media (max-width: 991px) {
.me-15-zero-md {
   margin-right: 15px !important;}
}
/* md-all */
@media (min-width: 768px) {
.me-15-md-all {
   margin-right: 15px !important;}
.mb-0-md-all {
   margin-bottom: 0 !important;}
}
/* lg-all */
@media (min-width: 992px) {
/* height */
.h-815-px-lg-all {
   height: 815px !important;}
/* overflow */
.overflow-y-auto-lg-all {
   overflow-y: auto;}
.overflow-x-hidden-lg-all {
   overflow-x: hidden;}
}



/* overflow */
.overflow-y-auto {
   overflow-y: auto;}
.overflow-x-hidden {
   overflow-x: hidden;}


/* height */
/* px */
.h-20-px {
   height: 20px !important;}
.h-25-px {
   height: 25px !important;}
.h-30-px {
   height: 30px !important;}
.h-35-px {
   height: 35px !important;}
.h-50-px {
   height: 50px !important;}
.h-60-px {
   height: 60px !important;}
.h-70-px {
   height: 70px !important;}
.h-100-px {
   height: 100px !important;}
.h-120-px {
    height: 120px !important;}
.h-250-px {
    height: 250px !important;}
.h-275-px {
   height: 275px !important;}
.h-330-px {
   height: 330px !important;}
.h-350-px {
    height: 350px !important;}
.h-360-px {
   height: 360px !important;}
.h-460-px {
   height: 460px !important;}
/* vh */
.h-65-vh {
   height: 65vh!important;}
.h-70-vh {
   height: 65vh!important;}
.h-100-vh {
   height: 100vh !important;}
/* min */
.m-h-0 {
   min-height: 0 !important;}


/* width */
/* px */
.w-20-px {
   width: 20px !important;}
.w-100-px {
   width: 100px !important;}

/* min */
.m-w-40-px {
   min-width: 40px !important;}
.m-w-100-px {
  min-width: 100px !important;}
.m-w-140-px {
  min-width: 140px !important;}



/* rounded */
.rounded-5 {
   border-radius: 5px !important;}
.rounded-15 {
    border-radius: 15px !important;}
.rounded-25 {
   border-radius: 25px !important;}
.rounded-t-s {
   border-top-left-radius: 0 !important;}



/* opacity */
.opacity-1 {
   opacity: .1;}

/* font-size */
.fs-11 {
   font-size: 11px !important;}
.fs-12 {
   font-size: 12px !important;}
.fs-18 {
   font-size: 18px !important;}
.fs-16 {
   font-size: 16px !important;}
.fs-14 {
   font-size: 14px !important;}
.fs-10 {
   font-size: 10px !important;}
.fs-35 {
   font-size: 35px !important;}

/* border */
@media (max-width: 767px) {
.border-none-md {
   border: none !important;}
}

/* cursor */
.cursor-pointer {
   cursor: pointer !important;}

/* shadow-none */
.shadow-none {
   box-shadow: none !important;}

/* text-pre-line */
.text-pre-line {
   white-space: pre-line !important;}

/* display */
.d-initial {
   display: initial !important;}

/* pointer-none */
.pointer-none {
   pointer-events: none !important;}

/* resize-none */
.resize-none {
   resize: none !important;}

/* justify-content-right */
.justify-content-right {
   justify-content: right!important;}

/* screen */
@media screen {
.d-screen-none {
   display: none !important;}
}

/* position-content-center */
.position-content-center {
   position: absolute;
   right: 50%;
   bottom: 50%;
   -webkit-transform: translate(50%,50%);
   -ms-transform: translate(50%,50%);
   transform: translate(50%,50%);}



/* scrollbar */
.scrollbar::-webkit-scrollbar {
   background-color: transparent;
   width: 0px;}
.scrollbar:hover::-webkit-scrollbar {
   width: 5px;}
.scrollbar:hover::-webkit-scrollbar-thumb {
   background-color: rgba(0, 0, 0, 0.2);}
@media (hover: none) {
.scrollbar::-webkit-scrollbar {
   width: 5px;}
.scrollbar::-webkit-scrollbar-thumb {
   background-color: rgba(0, 0, 0, 0.2);}
} 



/* mobile_device */
body:not(.mobile_device) .show-mobile {
  display: none;}
.mobile_device .hide-mobile {
  display: none;}